@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(../css/reset.css);

body{
    background: #000;
    .wrapper{
        max-width: 1200px;
        padding: 0 50px; 
        margin: 0 auto;
    }
    .header{


        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 25px 0;
        .header-content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .hamburger-menu{
                display: none;
            }
            .menu{
                width: 500px;
                display: flex;
                justify-content: space-between;
                a{
                    
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 50px;
                    color: #FFFFFF;
                    padding: 0 10px;

                }
                a:hover{
                    background-color: #fff;
                    color: #000;
                }
            }
        }
    }
    .body-display{
        padding-top: 222px;
        padding-bottom: 322px;
        display: flex;
        justify-content: space-between;
        h1{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 40px;
            line-height: 47px;
            color: #FFFFFF;
            width: 454px;
        }
        p{
            margin-top: 20px;
            width: 437px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 35px;
            line-height: 41px;
            color: #FFFFFF;            
        }
        button{
            border: 0;
            width: 350px;
            height: 110px;
            background: #FFFFFF;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            color: #000000;
            margin-top: 59px;
        }
        button:hover{
            color: #fff;
            background: #000;
            border: 1px solid #fff;
        }

        .body-pizza{
            display: flex;
            align-items: end;
            flex-direction: column;
            p{
                margin-top: 4px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 10px;
                line-height: 12px;
                color: #FFFFFF;
                text-align: right;
            }
        }
        img{
            margin: 0px;
        }
    }
    .footer{
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 25px 0;
        .footer-contetn{
            display: flex;
            align-items: start;
            justify-content: space-between;
            .footer-menu{
                display: flex;
                flex-direction: column;
                a{
                    color: #FFFFFF;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 23px;
                    padding: 0 10px;
                }
            }
            .footer-tell a{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 23px;
                color: #FFFFFF;
                padding: 0 10px;
            }
            .footer-mail a{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 23px;
                color: #FFFFFF;
                padding: 0 10px;
            }
            a:hover{
                background-color: #fff;
                color: #000;
            }
            button{
                width: 233px;
                height: 45px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 19px;
                line-height: 23px;
                color: #000000;
                border-radius: 0%;
                border: 0;
            }

            button:hover{
                color: #fff;
                background: #000;
                border: 1px solid #fff;
            }
        }
    }
}
@media (max-width:1200px) {
    body{

        .footer-contetn{
            align-items: center;
            justify-content: center;
            flex-direction: column;
            a{
                margin-bottom: 5px;
            }
        }
        .wrapper{
            max-width: 810px;
            padding: 0 50px; 
            margin: 0 auto;
        }
        .body{
            .body-display{
                .body-content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    margin: 0 auto;
                }
                .body-pizza{
                    display: none;  
                }
            }
        }
    }
}
@media (max-width:810px){
    .account{
        min-width: 25px;
    }
    .logo{
        display: none;
    }
    .wrapper{
        max-width: 480px;
        padding: 0 50px; 
        margin: 0 auto;
    }
    .menu a{
        display: none;
    }
    body{
        .header{
            .header-content{
                .hamburger-menu{
                    display: flex;
                    align-items: center;
                    #menu__toggle {
                        opacity: 0;
                      }/* стилизуем кнопку */
                      .menu__btn {
                        display: flex; /* используем flex для центрирования содержимого */
                        align-items: center;  /* центрируем содержимое кнопки */
                        position: fixed;
                        width: 26px;
                        height:26px;  cursor: pointer;
                        z-index: 1;
                      }/* добавляем "гамбургер" */
                      .menu__btn > span,
                      .menu__btn > span::before,
                      .menu__btn > span::after {
                        display: block;
                        position: absolute;  
                        width: 25px;
                        height: 3px;
                        background-color: #fff;
                      }
                      .menu__btn > span::before {
                        content: '';
                        top: -8px;
                      }
                      .menu__btn > span::after {
                        content: '';
                        top: 8px;
                      }
                    
                      /* контейнер меню */
                    .menu__box {
                        display: block;
                        position: fixed;
                        visibility: hidden;
                        top: 0;
                        left: -100%;  width: 100%;
                        height: 100%;  margin: 0;
                        padding: 80px 0;  list-style: none;
                        text-align: center;  background-color: #000;
                      }/* элементы меню */
                      .menu__item {
                        display: block;
                        padding: 12px 24px;  color: #fff;  font-family: 'Roboto', sans-serif;
                        font-size: 20px;
                        font-weight: 600;  text-decoration: none;
                      }
                      .menu__item:hover {
                        background-color: #fff;
                        color: #000;
                      }
                      #menu__toggle:checked ~ .menu__btn > span {
                        transform: rotate(45deg);
                      }
                      #menu__toggle:checked ~ .menu__btn > span::before {
                        top: 0;
                        transform: rotate(0);
                      }
                      #menu__toggle:checked ~ .menu__btn > span::after {
                        top: 0;
                        transform: rotate(90deg);
                      }
                      #menu__toggle:checked ~ .menu__box {
                        visibility: visible;
                        left: 0;
                      }
                      .menu__btn > span,
                    .menu__btn > span::before,
                    .menu__btn > span::after {
                      transition-duration: .25s;
                    }.menu__box {
                      transition-duration: .25s;
                    }.menu__item {
                      transition-duration: .25s;
                    }
                }
            }
        }
    }
    .body{
        .body-display{
            .body-content{
                h1{
                    font-size: 30px;
                    line-height: 35px;
                }
                p{
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 41px;
                }
            }
        }
    }
}
@media (max-width:480px){
    body{
        .wrapper{
            width: 320px;
            padding: 0 50px; 
            margin: 0 auto;
        }
        .body{

            .body-display{
                padding-top: 70px;
                padding-bottom: 80px;
                .body-content{
                    h1{
                        font-size: 20px;
                        line-height: 35px;
                        width: 220px;
                    }
                    p{
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 41px;
                        width: 220px;
                    }
                    button{
                        width: 220px;
                        font-size: 30px;

                    }
                }
            }
        }
    }
}